@import "variables";
.header{
  &__container{
    padding: 30px 20px;
    width: 100%;
    background: $color-primary;
    color: $color-text;
    h1{
      text-align: center;
      margin: 0;
      @include respond(desktop){
        font-size: 44px;
      }
    }
  }
}